@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;700&family=Montserrat:wght@300;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
:root{
  --ff:'Barlow Condensed', sans-serif;
}
#root{
  min-height: 100vh;
}
.nav1{
  width: 100%;
  display: flex;
  align-items: center;
  gap:20px;
  padding: 7px 20px;
}
.logo{
  color: black;
  text-decoration: none;
  font-size: 1.3rem;

}
.logo > h1{
  font-family: var(--ff);
}
.nav1 > a:nth-child(2){
  margin-left: auto;
}
.login{
  
}